.resultcommentlist {
  display: flex;
  padding: 1.5rem;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  background: var(--gray-500);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
  margin: 2rem 0;
  gap: 12px;
  align-self: stretch;
}

.resultcommentlist img {
  width: 3rem;
  border: 0;
  cursor: pointer;
  background-color: var(--gray-500);
}

.resultcommentlist button {
  border: 0;
  cursor: pointer;
  line-height: 0;
  background: var(--gray-600);
}

.checklist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.checkboxRound {
  width: 2rem;
  height: 2rem;
  background: var(--gray-600);
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid var(--green-100);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkboxRound:checked {
  background-image: url(assets/check.svg);
  background-color: var(--purple);
  border: 0;
}

.linethrough {
  text-decoration: line-through;
}

.noline {
  color: var(--white);
}