.form {
    width: 100%;
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 0.5rem;
    flex: 1 0 0;
}

.form input {
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 0.5rem;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    background-color: var(--white);
    resize: none;
}

.form footer {
  padding: 0.7rem;
  border-radius: 8px;
  background: var(--blue-Dark);
}

.form button[type="submit"] {
    display: flex;
    color: var(--gray-100);
    font-size: 1.5rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    padding: 0.5rem;
    background-color: var(--blue-Dark);
    border: 0;
}

form img {
  margin-left: 0.5rem;
}

.form button[type=submit]:not(disable):hover {
  background-color: var(--blue-Dark);
}

.form button[type=submit]:disabled {
  opacity: 0;
  cursor: not-allowed;
}